<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
    <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2">
    <h2 class="mb-2 text-md text-center">{{product.title}}</h2>
    <!-- currency - pipe, кот служит для вывода валюты, добав знак доллара -->
    <p>Price: <span class="font-bold">{{product.price | currency}}</span></p>
    <!-- Если details тру, то будет фолс и наоборот -->
    <button class="border py-2 px-4 rounded" [ngClass]="{'bg-yellow-400': !details,
                'bg-yellow-300': details}" (click)="details = !details">{{details ? 'Hide' : 'Show'}} details</button>

    <!-- Структурные директивы обознач со звездочкой -->
    <div *ngIf="details">
        <p>{{product.description}}</p>
        <p>Rate: <span [ngStyle]="{fontWeight:'bold'}">{{product.rating.rate | number: '1.1-2'}}</span></p>
    </div>
</div>